/*
	Style for Browser Phone
*/

body {
	margin: 0 0 4em 0;
	-webkit-user-select: none;
}

h1 {
	border-bottom: 2px solid #007000;
	margin: 0;
	text-align: center;
}


footer {
	background: #101010;
	border-top: 2px solid #007000;
	bottom: 0;
	margin: 0;
	position: fixed;
	width: 100%;
}

#info { text-align:center; }
#warn { background:rgba(192,0,0,53); display:none; padding:8px; text-align:center; }

/**
	Options Page
*/
body.options input.diff {
	border-bottom-color: #ff0000;
}

/**
	Popup Page
*/
body.popup {
	margin: 0 0 2em 0;
	min-width: 420px;
	padding: 0;
}
