/*
	Style for Browser Phone
*/

body {
	-webkit-user-select: none;
}

header {
	margin: 0;
	padding: 1em;
}


h1 {
	border-bottom: 2px solid #007000;
	margin: 0;
	text-align: center;
}


fieldset {
	margin: 0 0.25em 2em 0.25em;
}

legend {
	font-weight: bold;
	margin: 4px 8px;
	padding:0px 16px;
}

footer {
	background: #101010;
	border-top: 2px solid #007000;
	bottom: 0;
	margin: 0;
	position: fixed;
	width: 100%;
}

#info { text-align:center; }
#warn { background:rgba(192,0,0,53); display:none; padding:8px; text-align:center; }

/**
	Options Page
*/
body.options fieldset label {
	display: block;
}
body.options input.diff {
	border-bottom-color: #ff0000;
}

/**
	Popup Page
*/
body.popup {
	margin: 0 0 2em 0;
	min-width: 420px;
	padding: 0;
}
